/*
Mudar o layout do site de layout fixo para layout fluido
fixo=> medidas fixas => px, cm, mm, pt...
fluido => medidas são em porcentagem

contexto => 768px tamanho do site dentro da resolução escolhida(alvo)
alvo => a resolução escolhida - 1680px

unidade de relatividade: contexto/alvo*100
768/1680*100 = 45.71428571428571

150/768*100 = 19.53125
618/768*100 = 80.46875

Para fonte não se usa porcentagem - %
Se usa a medida em
1em = tamanho da fonte padrao do dispositivo
*/
*{
    margin:0;
    padding:0;
}
body{
    font-family: Verdana,Arial;
    font-size: .7em;
    background-color: #CCC;
}

#interface{
    border:1px solid black;
    background-color: burlywood;
    width:45.71428571428571%;
    margin:auto;
    
}
header#cabecalho{
    height: 80px;
    background-image: url('images/topo_.jpg');
}
nav li{
    list-style-type: none;
}

nav#menu{
    width:19.53125%;
    height:400px;
    background-color: #000000;
    float:left;
}



nav#menu ul li a{
    margin:1px;
    padding:5px;
    border-left: 3px solid #F00;
    border-bottom: 1px solid #CCCCCC;
    display:block;
    background-color: #000;
    
    color:#FFFFFF;
    text-decoration: none;
}
nav#menu a:hover{
    text-decoration: underline;
    border-left: 3px solid #FFF;
    background-color: #CCC;
    color:black;
}

section#principal{
    background-color: #FFF;
    width:80.46875%;
    height:400px;
    float:right;
    position:relative;
    
}
section#principal aside{
    background-color: #CCC;
    width: 150px;
    position:absolute;
    top:0;
    right:0;

}
section#principal aside a{
    display:block;
    padding:10px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFF #333 #333 #333;

    font-size:0.8em;
    color:#000;
    text-align: center;
    text-decoration: none;

}
section#principal aside a:hover{
     text-decoration: underline;
}
footer#rodape{
    background-color: #600;
    color:#FFF;
    text-align:center;

    display: table-cell;
    vertical-align: middle;
    height:50px;
    width: 768px;
    
    clear:both;

}

@media only screen and (max-width:800px){
    section#principal aside{
        top:unset;
        bottom:0;
        right:unset;
        left:0;
    }
}